body{
  background-color: orange;
  margin-left: 40vh;
  margin-top: 10%
}
p{color:white;
    font-family: "Garamond";
    font-size: 40px;
    margin-left: 30%;
    width: 53%
	}
#tabla{
  display: block;
  border: solid black;
  width: 132vh;
  height: 73vh;

}

.bigsquare {
    display: flex;
    width: 30vw;
    height: 30vw;

}
.fila{
  display: table-row;
  display: block;
  margin: 1px;
  float: left;

}

.col{
display: table-cell;

	padding: 2px;

    width: 10%
    height: 10%;
    border: solid black;
    width: 2vw;
   height: 2vw;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 15vh;
}

div.desc {
    padding: 8px;
    text-align: center;
}


